@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f03f3f;
  padding: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*? INDEX CONTENT  */
main {
  padding: 20px;
  text-align: center;
}
main h1 {
  color: #ffffff;
  background-color: #e7905d;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 50%;
  margin: 0 auto 20px auto;
  box-shadow: #f03f3f 0px 4px 8px 0px, rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
}
main section p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.home-main-img img {
  max-width: 70%;
  height: auto;
  border-radius: 25px;
  margin-top: 20px;
  box-shadow: #f03f3f7c 5px 5px 5px 5px, rgba(0, 0, 0, 0.1) 0px 6px 20px 0px;
}
.instrument-list {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.instrument-list li {
  transition: transform 0.5s; /* Added transition to the default state */
}

.instrument-list li:hover {
  transform: scale(1.15);
  transition: transform 0.5s;
}

.instrument-list-link a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #f1a257;
  padding: 10px;
  border-radius: 10px;
  border: #333 3px solid;
}
/* FOOTER */
footer {
  background-color: #f03f3f;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 30px;
  display: flex; /* Added display: flex */
  align-items: center; /* Added align-items: center to center vertically */
  justify-content: center; /* Added justify-content: center to center horizontally */
}

/*! CONTACT */
.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact-section {
  margin: auto;
  max-width: 50%;
  text-align: center;
  color: #555;
  flex: 1;
}

.contact-info {
  margin: 20px 0;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  flex: 1;
}

.contact-form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
}
.contact-section h2 {
  text-align: center;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #c53636;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.contact-form button {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #f1a257;
  border: 4px solid #da7373;
  border-radius: 10px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #e7905d;
  box-shadow: #d0ff0038 0px 3px 3px 0px, rgba(57, 58, 57, 0.171) 0px 3px 3px 0px;
}

/*! ABOUT */

.about-main-img img {
  width: 70%;
}

/*! DAVULLAR */
.davul-list-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  display: flex;
  flex: 1;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  flex: 1;
}

.product-list img {
  flex: 1;
  width: 200px;
  transform: scale(1); /* Added default scale */
  transition: transform 0.5s; /* Added transition to parent */
}
.product-list p {
  text-align: left;
  padding-left: 20px;
  font-family: "Merriweather", serif;
  font-size: 10px;
}

.product-list img:hover {
  transform: scale(1.12); /* Changed to scale down */
  transition: transform 0.5s;
}

.product-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}
.product-list div {
  flex: 1;
  width: 200px;
  transform: scale(1); /* Added default scale */
}
.product-list hr {
  border: none;
  border-top: 1px solid #f70505;
  margin: 10px 0;
  height: 10px;
}
